<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <title>影片详情</title>
</head>
<body>
<form th:action="@{/index2}"method="post">
    <input th:type="submit" th:value="返回" width="20" height="20"/>
</form>

<p style="width: 550px">
    导演：张艺谋 主演：雷佳音,张国立,于和伟,周冬雨,孙艺洲,李乃文,许亚军,田雨,何政军,徐子力,林博洋,陈童 类型：剧情,犯罪,悬疑 制片国家/地区：中国大陆 片长：127分钟 剧情介绍：金江市副市长郑刚（张国立 饰）之子苏见明（雷佳音 饰）不顾父亲的劝阻，应邀赴约首富黎志田（于和伟 饰）的“鸿门宴”，不料却被迫观看了一出“人手下火锅”的猖狂戏码。旧案翻起，风雨欲来，各方蛰伏势力蠢蠢欲动，筹谋与算计、审视与怀疑，光怪陆离之中，人性欲望翻腾，谁将撕去最后的面具？
</p>
</body>
</html>