<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <title>影片详情</title>
</head>
<body>
<a th:href="@{/}">返回</a>
<h1>莫斯科行动</h1>
<p style="width: 550px">
    导演：邱礼涛
    主演：张涵予,刘德华,黄轩,文咏珊,谷嘉诚,赵炳锐,白那日苏,张本煜,尚语贤,徐小飒,韩秋池,何晟铭
    类型：剧情,犯罪,动作
    制片国家/地区： 中国大陆
    片长：128分钟
    剧情介绍：根据中国第一桩跨境追捕真实案件改编，国庆档唯一犯罪动作大片！刘德华张涵予黄轩斗智斗
    勇正面交锋！90年代初，苏联解体，俄罗斯经济接近崩溃。大批中国倒爷乘坐K3次北京至莫斯科国际列车
    将中国商品倒卖到俄罗斯，获取天价利润。以苗青山（黄轩 饰）为首的悍匪集团在承载着巨额现金和财富
    的K3列车上进行了丧心病狂的连环洗劫和强奸，案件轰动世界！中国警察崔振海（张涵予 饰）带领公安小
    队伪装成商人，深入莫斯科展开抓捕行动。过程中，化名为瓦西里的神秘人（刘德华 饰）和一名叫真真的
    女子（文咏珊 饰）引起了警方的注意，一个更大的惊天阴谋逐渐揭开……
</p>
</body>
</html>